<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sudipacharya.seescienceguide">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/eicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/eicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".unit"
            android:parentActivityName=".units" />
        <activity
            android:name=".units" />
        <activity
            android:name=".unit8"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit2"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit17"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit19"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit20"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit18"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit15"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit16"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit3"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit4"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit5"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit6"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit7"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit9"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit10"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit11"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit12"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit13"
            android:parentActivityName=".units" />
        <activity
            android:name=".unit14"
            android:parentActivityName=".units" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".play_movie" />
        <activity
            android:name=".chapter2"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter17"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter20"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter21"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter22"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter23"
            android:parentActivityName=".Guide" />
        <activity android:name=".studymaterials" />
        <activity
            android:name=".chapter18"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter15"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter16"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter3"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter4"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter5"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter6"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter7"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter8"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter9"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter10"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter11"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter12"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter13"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter14"
            android:parentActivityName=".Guide" />
        <activity
            android:name=".chapter"
            android:parentActivityName=".Guide" />
        <activity android:name=".Guide" />
        <activity android:name=".fullimage" />
        <activity android:name=".Question" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>